{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>MQTT</h1>
<div class="row">
    <div class="col">
        <h2>SEND</h2>
      <form method="POST">
          <div class="form-group">
          <textarea class="form-control" id="mqtt-send" name="mqtt-send" rows="3" placeholder="Message"></textarea>
          </div>
        <div class="form-group">
          <textarea class="form-control" id="mqtt-topic" name="mqtt-topic" placeholder="Topic, 'home/test' ONLY!"></textarea>
        </div>
          <hr>
          <button type="submit" class="btn btn-primary" onclick="">Send</button>
      </form>
    </div>
    <div class="col">
        <h2>RECEIVED</h2>
      <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Cas</th>
                <th scope="col">Topic</th>
                <th scope="col">Message</th>
            </tr>
            </thead>
            <tbody>
            {% for sprava in spravy %}
            <tr class="bg-info">
                <td>{{ sprava.date }}</td>
                <td>{{ sprava.topic }}</td>
                <td>{{ sprava.message }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}